In [1]:
a = [2, 4, 5, 8]
for x in a:
    print(x)

2
4
5
8

In [3]:
name = "kashish"
for i in name :
    print(i)

k
a
s
h
i
s
h

In [8]:
name = "kashish"
for i in range(0,5) :
    print(name)

kashish
kashish
kashish
kashish
kashish

In [10]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,10,3):
    print(i)

1
4
7

In [16]:
for i in range (1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [22]:
for i in range (1 ,21 ,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [23]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [24]:
i = 1
while i < 11:
    print(i)
    i += 2

1
3
5
7
9

In [25]:
i = 1
while i < 11:
    print(i)
    i += 3

1
4
7
10

In [28]:
i = 1
while i < 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

In [29]:
i = 1
while i < 20:
    if i % 2 == 0:
      print(i)
    i += 1

2
4
6
8
10
12
14
16
18

In [30]:
fruits = ['apple' , 'orange' , 'kiwi' , 'cheerry' , 'onion' ,'mango' , 'apple']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
orange
kiwi
cheerry

In [31]:
fruits = ['apple' , 'orange' , 'kiwi' , 'cheerry' , 'onion' ,'mango' , 'apple']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
orange
kiwi
cheerry
mango
apple