DICTIONARY
- dictionary stores value in form of key - value pair

In [ ]:
student = {
"name" : "kashish",
"age" : 20,
"course" : "python",
"marks" : 90

}
print(student , type(student))

{'name': 'kashish', 'age': 20, 'course': 'python', 'marks': 90} <class 'dict'>

In [42]:
student = {
"name" : "kashish",
"age" : 20,
"course" : "python",
"marks": 90,
"name" : "kashish",
0 : "zero"

}
print(student)

{'name': 'kashish', 'age': 20, 'course': 'python', 'marks': 90, 0: 'zero'}

Dictionary is 
- mutable
- unordered
- indexed
- do not allow duplicate keys

Methods
 - item method
 - key method
 - values method
 - update method
 - get method

In [19]:
student.items()

dict_items([('name', 'kashish'), ('age', 20), ('course', 'python'), ('marks', 90), (0, 'zero')])

In [20]:
student.keys()

dict_keys(['name', 'age', 'course', 'marks', 0])

In [21]:
student.values()

dict_values(['kashish', 20, 'python', 90, 'zero'])

In [25]:
student.update({"marks" : 23, "name2" : "siddhartha"})
print(student)

{'name': 'kashish', 'age': 20, 'course': 'python', 'marks': 23, 0: 'zero', 'name2': 'siddhartha'}

In [ ]:

print(student.get("marks2")) #Prints None
print(student["marks2"]) #Throws an error

None

- how to declare dictionary
- how to access key and values
- how to use loops in dictionary
- indexing in dictionary

In [3]:
info = dict(name = "john", age = "25", course = "python" , marks = 70)
print(info)

{'name': 'john', 'age': '25', 'course': 'python', 'marks': 70}

In [5]:
info = dict(name = "john", age = "25", course = "python" , marks = 70)
print(info["name"])

john

Taking input

In [8]:
info = dict(name = input("enter your name :") ,age = input("enter your age :" ) ,course = input("enter your course :") ,marks = input("enter your marks :" ))
print(info)

{'name': 'kashish', 'age': '23', 'course': 'python', 'marks': '58'}

In [29]:
temp = {
    "lucknow" : [22 ,32, 44],
    "delhi" : [32,67,14],
}
print(temp)

{'lucknow': [22, 32, 44], 'delhi': [32, 67, 14]}

In [15]:
#2nd method to access values through keys
print(student.get("course"))

python

In [17]:
#to add item (key - value pair) in dictionary
student['city'] = 'lucknow'
print(student)

{'name': 'kashish', 'age': 20, 'course': 'python', 'marks': 90, 'city': 'lucknow'}

In [21]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks', 'city'])
dict_values(['kashish', 20, 'python', 90, 'lucknow'])
dict_items([('name', 'kashish'), ('age', 20), ('course', 'python'), ('marks', 90), ('city', 'lucknow')])

In [28]:
for k,v in student.items():
 print(f"{k} : {v}")

name : kashish
age : 20
course : python
marks : 90
city : lucknow

In [32]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'salary' : 5000
    },
    'emp002' : {
        'name' : 'Alice',
        'age' : 30,
        'salary' : 6000
    },
    'emp003' : {
        'name' : 'Bob',
        'age' : 35,
        'salary' : 7000
    }
        
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'salary': 5000}, 'emp002': {'name': 'Alice', 'age': 30, 'salary': 6000}, 'emp003': {'name': 'Bob', 'age': 35, 'salary': 7000}}

In [33]:
from pprint import pprint

In [34]:
pprint(company)

{'emp001': {'age': 25, 'name': 'John', 'salary': 5000},
 'emp002': {'age': 30, 'name': 'Alice', 'salary': 6000},
 'emp003': {'age': 35, 'name': 'Bob', 'salary': 7000}}

In [35]:
print(company['emp002']['age'])

30

In [38]:
print(sum(temp ['lucknow'])/len(temp['lucknow']))

32.666666666666664

D = {}
- this is an emplt dictionary
S = set()
- this is an empty set

SETS
- Do not allow repeated values
- are unordered

In [39]:
s = set()
print(s , type(s))

set() <class 'set'>

In [45]:
set1 = {1,2,3,4,5,6,7,8,9,10,10,10,10,10 ,"kashish"}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'kashish'}

Methods
- add method
- remove method
- pop method
- union method
- intersection method

In [48]:
set1.add(11)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'kashish', 11}

In [49]:
set1.remove(10)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'kashish', 11}

In [50]:
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 'kashish', 11}

In [51]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
print(s1.intersection(s2))

{4, 5, 6}

In [ ]:
"editor.autoClosingBrackets": "false",
"editor.suggestOnTriggerCharacters": "false"